# ignore the conplied file.
*.pyc

# ignore the datasets floder which will be very large
datasets/

# ignore floders respond to ipython
.ipynb_checkpoints/

# ignore floders respond to pycharm
.idea

# ignore .ipynb since those files will be changed when i run them
*.ipynb
